{% extends "main/base.html" %}

{% block title %}NEWS | NSB{% endblock title %}


{% block main %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/article.css') }}">
    <!--
        [0]id,          [1]source,  [2]category,    [3]author,      [4]title, 
        [5]description, [6]url,     [7]urlToImage,  [8]publishedAt, [9]content,
    -->
    <input type="hidden" id="user_id" name="user_id" value="{{ user.id }}">
    <div class="articles">
        {% if articles|length > 0 %}
            {% for article in articles %}
                <article class="news__article">
                    <div class="info-main">
                        <div>
                            <a class="title" href="{{ article.url }}" target="_blank">{{ article.title }}</a>
                            <div class="info-main-content">
                                <input type="hidden" id="article_id" name="id" value="{{ article.id }}">
                                <div class="star{% if article.id in favourite_articles %} active{% endif %}" onclick="star_active(event)">{% if article.id in favourite_articles %}&#9733;{% else %}&#9734;{% endif %}</div>
                                {{ article.categories.name.capitalize() }} &#9679; {{ article.sources.name }} &#9679; {{ article.publishedAt.strftime('%d.%m.%Y') }}{# article.publishedAt.strftime('%d.%m.%Y %H:%M:%S') #}
                            </div>
                            <div class="show_more" onclick="show_more(event)">&#8226;&#8226;&#8226;</div>
                        </div>
                        <div class="image">
                            <img src="{{ article.urlToImage }}" alt="{{ article.id }}">
                        </div>
                    </div>
                    <div class="info-more">
                        {{ article.description }}
                    </div>
                </article>
            {% endfor %}
        {% else %}
            <h2 style="text-align:center; margin-top:60px; color:#949494;">No articles</h2>
        {% endif %}
    </div>
    <script>
        function show_more(event) {
            let infoMore = event.currentTarget.parentNode.parentNode.parentNode.querySelector('.info-more');
            infoMore.classList.toggle('show');
        }
        function star_active(event) {
            let starActive = event.currentTarget,
                userId = document.querySelector('#user_id');
            starActive.classList.toggle('active');
            if (starActive.classList.contains('active')) {
                starActive.innerHTML = "&#9733;";
                fetch('/addstar', {
                    method: "POST",
                    body: JSON.stringify({
                        'user_id':userId.value, 
                        'article_id':starActive.parentNode.querySelector('input#article_id').value
                    }),
                    headers: {"Content-type": "application/json; charset=UTF-8"}
                })
                .then(response => response.json()) 
                .then(json => console.log(json))
                .catch(err => console.log(err));
            } else {
                starActive.innerHTML = "&#9734;";
                fetch('/removestar', {
                    method: "POST",
                    body: JSON.stringify({
                        'user_id':userId.value, 
                        'article_id':starActive.parentNode.querySelector('input#article_id').value
                    }),
                    headers: {"Content-type": "application/json; charset=UTF-8"}
                })
                .then(response => response.json()) 
                .then(json => console.log(json))
                .catch(err => console.log(err));
            }
        }
    </script>
{% endblock main %}

