<link rel="stylesheet" href="{{ url_for('static', filename='css/main/includes/aside.css') }}">
<aside class="left__part">
    <a {% if request.host_url==request.url %}class="active"{% endif %} href="{{ request.host_url }}">New news</a>
    <a {% if request.host_url+'recommendation'==request.url %}class="active"{% endif %} href="{{ request.host_url }}recommendation">Recommendation</a>
    <a {% if request.host_url+'favorite'==request.url %}class="active"{% endif %} href="{{ request.host_url }}favorite">Favorite</a>
    <hr>
    <a {% if request.host_url+'search?q=COVID-19'==request.url %}class="active"{% endif %} href="{{ request.host_url }}search?q=COVID-19">COVID-19</a>
    <hr>
    {% for category in categories %}
        <a {% if request.host_url+'c/'+category.name==request.url %}class="active"{% endif %} href="{{ request.host_url }}c/{{ category.name }}">{{ category.name.capitalize() }}</a>
    {% endfor %}
    <hr>
    <a class="bttm" href="/">About ASB</a>
</aside>
