main.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main.page form {
    margin-top: 50px;
}


table.authorization-table input {
    border: 1px solid #949494;
    border-radius: 6px;
    margin: 4px 0 4px 8px;
    padding: 6px;
}
button.authorization-button {
    display: block;
    background: #1e90ffcc;
    border: none;
    border-radius: 200px;
    color: #fff;
    cursor: pointer;
    padding: 8px 22px;
    margin: 8px auto 0;
    transition: .2s;
}
button.authorization-button:hover {
    background: #1e90ff;
}
.additional__info a {
    color: #1e90ff;
}


.errors {
    color: #f00;
    font-style: italic;
    margin: 10px 15px;
}


/* 
main.page > div > a {
    color: #333;
    font-size: 18px;
} */

