<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/includes/aside.css') }}">
<aside class="left__part">
    <a {% if request.host_url+'admin/dashboard'==request.url %}class="active"{% endif %} href="{{ request.host_url }}admin/dashboard">Dashboard</a>
    <a {% if request.host_url+'admin/articles'==request.url %}class="active"{% endif %} href="{{ request.host_url }}admin/articles">Articles</a>
    {# <a {% if request.host_url+'admin/categories'==request.url %}class="active"{% endif %} href="{{ request.host_url }}admin/categories">Categories</a> #}
    <hr>
    <a class="bttm" href="/">About ASB</a>
</aside>
